<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="dist/selector.css">
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/element-ui/lib/index.js"></script>
  <script src="dist/kqlselector.js"></script>
</head>

<body>
  <div id="test">    
    <div class="selector-container">
      <el-row>
        <el-button type="primary" @click="changeView">ChangeView</el-button>
      </el-row>

      <el-row v-if="showCode" class="mt24">
        <el-input type="textarea" v-model="code" placeholder="请输入检索条件" :autosize="{ minRows: 2, maxRows: 6 }"
          size="small">
        </el-input>
      </el-row>

      <el-row v-else class="mt24">
        <div class="selector-wrapper">
          <el-table size="mini" :data="ks.queryList" style="width: 100%" :span-method="arraySpanMethod">
            <!--insert-->
            <el-table-column width="50" align="center">
              <template slot-scope="scope">
                <i class="el-icon-add" @click="insertQuery(scope.row, scope.$index)"></i>
              </template>
            </el-table-column>
            <!--remove-->
            <el-table-column width="50" align="center">
              <template slot-scope="scope">
                <i class="el-icon-del" @click="removeQuery(scope.row)"></i>
              </template>
            </el-table-column>
            <!--check merge-->
            <el-table-column width="50" align="center">
              <template slot="header" slot-scope="scope">
                <i class="el-icon-merge" @click="merge" :class="{'merge-disabled': !canMerge}"></i>
              </template>
              <template slot-scope="scope">
                <el-checkbox v-model="scope.row.checked"></el-checkbox>
              </template>
            </el-table-column>

            <!--merge 括号-->
            <el-table-column width="32" v-for="(item, index) in maxMerge" :key="index" class-name="noPadding"
              align="center">
              <template slot-scope="scope">
                <span v-if="scope.row.mergeList.length > 0" class="inline-block"
                  :class="mergeClass(scope.row.mergeList, index)">
                  <i v-if="scope.row.mergeList.length > 0&& scope.row.mergeList.length>maxMerge-index-1 && scope.row.mergeList[maxMerge-index-1].mergeType === 0"
                    class="el-icon-unmerge"
                    @click="unmerge(scope.row.mergeList[scope.row.mergeList.length-index-1])"></i>
                </span>
              </template>
            </el-table-column>

            <!--merge 逻辑运算符-->
            <el-table-column width="90" label="Merge">
              <template slot-scope="scope">
                <span v-if="scope.row.logicOper !== undefined">
                  <el-select v-model="scope.row.logicOper" placeholder="请选择" size="small">
                    <el-option v-for="(key, value) in ks.sourceData.logicOpers" :key="key" :label="key" :value="value">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <!--Node-->
            <el-table-column width="160" label="Node">
              <template slot-scope="scope">
                <span>
                  <el-select v-model="scope.row.nodeType" placeholder="请选择" size="small">
                    <el-option v-for="(key, value) in ks.sourceData.nodeTypes" :key="key" :label="key" :value="value">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <!--nodeKey-->
            <el-table-column width="160" label="Key">
              <template slot-scope="scope">
                <span>
                  <el-select v-model="scope.row.nodeKey" placeholder="请选择" size="small">
                    <el-option v-for="(key, value) in ks.sourceData.nodeKeys" :key="key" :label="key" :value="value">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <!--nodePropertyKey-->
            <el-table-column width="160" label="Properties">
              <template slot-scope="scope">
                <span>
                  <el-select v-model="scope.row.nodePropertyKey" :disabled="scope.row.nodeKey != 'Property'" placeholder="请选择"
                    size="small">
                    <el-option v-for="(key, value) in ks.sourceData.nodePropertyKeys" :key="key" :label="key"
                      :value="value">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>
            <!--Operator-->
            <el-table-column width="160" label="Operator">
              <template slot-scope="scope">
                <span>
                  <el-select v-model="scope.row.filterOper" placeholder="请选择" size="small">
                    <el-option v-for="(key, value) in ks.sourceData.filterOpers" :key="key" :label="key" :value="value">
                    </el-option>
                  </el-select>
                </span>
              </template>
            </el-table-column>

            <!--Value-->
            <el-table-column width="160" label="Value">
              <template slot-scope="scope">
                <span>
                  <el-input v-model="scope.row.value" size="small"></el-input>
                </span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-row>
      <el-row class="mt24">
        <el-button plain icon="el-icon-add" @click="addQuery" class="add-query-btn">Add new clause</el-button>
      </el-row>
    </div>
  </div>
</body>
<script>

  var ks = new KQLSelector.KqlSelector("test");
  var Main = {
    data() {
      return {
        code: '',
        showCode: false,
        ks: ks,
      }
    },
    computed: {
      maxMerge() {
        let max = 0
        this.ks.queryList.forEach(item => {
          if (item.mergeList.length > max) {
            max = item.mergeList.length
          }
        })
        return max
      },
      canMerge() {
        const queries = this.getChecked()
        if (queries.length > 1) {
          return this.ks.canMerge(queries)
        }
        return false
      }
    },
    mounted() {
      this.ks.addQuery()   
      console.log(this.ks)
    },
    methods: {
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
        var index = columnIndex - 3;
        if (row.mergeList.length > 0 && index >= 0 && index < this.maxMerge) {
          var merge = row.mergeList[this.maxMerge - index - 1];
          if (merge)
            return [1, merge.span];
          else if (this.maxMerge - index - 1 < row.mergeList.length)
            return [1, 0];
          else
            return [1, 1];
        }
        else
          return [1, 1];
      },

      mergeClass(mergeList, index) {
        var merge = mergeList[this.maxMerge - index - 1];
        if (merge) { 
          var color = 'mergeColor_' + (merge.group.depth % 4);

          switch (merge.mergeType) {
            case 0: return color + ' merge-border-left-top';
            case 1: return color + ' merge-border-left';
            case 2: return color + ' merge-border-left-bottom';
          }
        }
        else
          return '';
      },
      changeView() {
        this.code = this.ks.code
        this.showCode = !this.showCode
        console.log(this.ks)
      },
      addQuery() {
        this.ks.addQuery()      
      },
      insertQuery(queryObj, index) {
        this.ks.insertQuery(queryObj)
        console.log(this.ks)
      },
      removeQuery(queryObj) {
        this.ks.removeQuery(queryObj)
        console.log(this.ks)
      },
      getChecked() {
        const queries = this.ks.queryList.filter(item => item.checked)
        return queries
      },
      merge() {
        if (this.canMerge) {
          const queries = this.getChecked()
          this.ks.merge(queries)
          this.ks.queryList.forEach(item => {
            if (item.checked) {
              Vue.set(item, 'checked', false)
            }
          })
        }
      },
      unmerge(mergeObj) {
        this.ks.unMerge(mergeObj)
      }
    }
  }
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#test')

 // ts.addQuery();
  // ts.addQuery();

</script>

</html>